[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
luigi = "*"
pandas = "*"
matplotlib = ""
seaborn = "*"
cookiecutter = "*"
numpy = "*"
lightgbm = "*"
kaggle = "*"
pymatgen = "*"
fastai = "*"
tensorflow-gpu = "==1.14"
tornado = "*"
keras = "*"
tensorboard = "*"
tables = "*"
catboost = "*"
category-encoders = "*"
mlflow = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
