[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
luigi = "*"
pandas = "*"
matplotlib = ""
seaborn = "*"
cookiecutter = "*"
numpy = "*"
lightgbm = "*"
kaggle = "*"
pymatgen = "*"
fastai = "*"
#tensorflow-gpu = "==1.14"
tensorflow = "*"
tornado = "*"
keras = "*"
tensorboard = "*"
tables = "*"
catboost = "*"
category-encoders = "*"
mlflow = "*"
torch = "*"
jupyter = "*"
gym = "*"
gym-bandits = {git = "https://github.com/JKCooper2/gym-bandits"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
